In [1]:
from pathlib import Path
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
from pathlib import Path
import json
import re
import pandas as pd
import DictionaryParser
from DictionaryParser import DictionaryParser

In [7]:
with open('sorted_data.json', 'r') as file:
    data = json.load(file)

In [8]:
parser = DictionaryParser(data)

em = parser.parse("next", "ask Your protection", "expectingMothers")
contains_query = parser.parse("contains", "ask Your protection", "lineContainingQuery")
between_query = parser.parse("between", "Adoration...Kedrov", "adoration")

from functools import reduce

# List of DataFrames to merge
dfs = [em, contains_query, between_query]

# Merge all DataFrames on 'Date'
final_merged_df = reduce(lambda left, right: pd.merge(left, right, on='Date', how='outer'), dfs)

# Rename columns if needed
final_merged_df.columns = ['Date', 'expectingMothers', 'lineContainingQuery', 'concatenatedValues']

# Display the merged DataFrame
final_merged_df

,Date,expectingMothers,lineContainingQuery,concatenatedValues
0,2022-01-16,"Chara Stevenson, Beth Pierce, Erika Dahl, Sara...",And we give You thanks for and ask Your protec...,Adoration and Lord's Prayer .. 2 Chronic...
1,2022-01-23,"Chara Stevenson, Beth Pierce, Erika Dahl, Sara...",And we give You thanks for and ask Your protec...,Prayer of Adoration and Lord's Prayer ....
2,2022-01-30,"Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...",And we give You thanks for and ask Your protec...,Prayer of Adoration and Lord's Prayer Strasbou...
3,2022-02-06,"Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...",And we give You thanks for and ask Your protec...,"adoration Eternal and ever-blessed God, You ar..."
4,2022-02-13,"Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...",And we give You thanks for and ask Your protec...,*Prayer of Adoration adoration Blessed art You...
...,...,...,...,...
92,2023-10-22,"Sarah Mosley, Laura Dalton and Erika Dahl - to...",We give You thanks and ask Your protection for...,
93,2023-10-29,Laura Dalton and Erika Dahl and Beth Pierce - ...,We give You thanks and ask Your protection for...,
94,2023-11-05,Laura Dalton and Erika Dahl and Beth Pierce - ...,We give You thanks and ask Your protection for...,PRAYER OF ADORATION AND LORD'S PRAYER . Lord...
95,2023-11-12,Laura Dalton and Erika Dahl and Beth Pierce - ...,We give You thanks and ask Your protection for...,
96,2023-11-19,(Laura Dalton) and Erika Dahl and Beth Pierce ...,We give You thanks and ask Your protection for...,*Prayer of Adoration and Lord's Prayer Praise ...

In [9]:
adoration = parser.parse("between", "adoration...Kedrov", "adoration")
adoration

         Date                                          adoration
0  2022-01-16  Adoration and Lord's Prayer       .. 2 Chronic...
1  2022-01-23  Prayer of Adoration and Lord's Prayer        ....
2  2022-01-30  Prayer of Adoration and Lord's Prayer Strasbou...
3  2022-02-06  adoration Eternal and ever-blessed God, You ar...
4  2022-02-13  *Prayer of Adoration adoration Blessed art You...
..        ...                                                ...
92 2023-10-22
93 2023-10-29
94 2023-11-05  PRAYER OF ADORATION AND LORD'S PRAYER   . Lord...
95 2023-11-12
96 2023-11-19  *Prayer of Adoration and Lord's Prayer Praise ...

[97 rows x 2 columns]

In [11]:
adoration[adoration['adoration'] == ""]

         Date adoration
14 2022-04-24
15 2022-05-01
16 2022-05-08
17 2022-05-15
18 2022-05-22
19 2022-05-29
20 2022-06-05
21 2022-06-12
22 2022-06-19
23 2022-06-26
24 2022-07-03
26 2022-07-17
28 2022-07-31
31 2022-08-21
32 2022-08-28
33 2022-09-04
36 2022-09-25
37 2022-10-02
39 2022-10-16
40 2022-10-23
41 2022-10-30
43 2022-11-13
46 2022-12-04
48 2022-12-18
49 2022-12-25
50 2023-01-01
55 2023-02-05
57 2023-02-19
58 2023-02-26
62 2023-03-26
64 2023-04-09
65 2023-04-16
66 2023-04-23
67 2023-04-30
68 2023-05-07
69 2023-05-14
70 2023-05-21
71 2023-05-28
72 2023-06-04
73 2023-06-11
74 2023-06-18
75 2023-06-25
77 2023-07-09
82 2023-08-13
83 2023-08-20
84 2023-08-27
87 2023-09-17
88 2023-09-24
90 2023-10-08
91 2023-10-15
92 2023-10-22
93 2023-10-29
95 2023-11-12

In [6]:
len(adoration[adoration['adoration'] == ""])

55

In [11]:
em

         Date                                   expectingMothers
0  2022-01-16  Chara Stevenson, Beth Pierce, Erika Dahl, Sara...
1  2022-01-23  Chara Stevenson, Beth Pierce, Erika Dahl, Sara...
2  2022-01-30  Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...
3  2022-02-06  Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...
4  2022-02-13  Beth Pierce, Erika Dahl, Sarah Ann Haney, and ...
..        ...                                                ...
92 2023-10-22  Sarah Mosley, Laura Dalton and Erika Dahl - to...
93 2023-10-29  Laura Dalton and Erika Dahl and Beth Pierce - ...
94 2023-11-05  Laura Dalton and Erika Dahl and Beth Pierce - ...
95 2023-11-12  Laura Dalton and Erika Dahl and Beth Pierce - ...
96 2023-11-19  (Laura Dalton) and Erika Dahl and Beth Pierce ...

[97 rows x 2 columns]

In [28]:
import json
import pandas as pd

def extract_text_between_keys(data):
    result = []

    for entry in data:
        for key, value in entry.items():
            start_key = None
            end_key = None
            collected_text = []

            for line_key, line_value in value.items():
                if "Illumination" in line_value:
                    start_key = line_key
                elif start_key and " " in line_value:
                    end_key = line_key
                    break
                elif start_key:
                    collected_text.append(line_value)

            if start_key and end_key:
                result.append({"Date": key, "Illumination": " ".join(collected_text)})

    return result

# Read the JSON file
with open('sorted_data.json', 'r') as file:
    data = json.load(file)

# Extract text
result = extract_text_between_keys(data)

# Convert the result to a DataFrame
df = pd.DataFrame(result)

# Display the DataFrame
df
# Optionally, save the DataFrame to a CSV file
# df.to_csv('illumination_data.csv', index=False)

AttributeError: 'str' object has no attribute 'items'

In [ ]:
with open('sorted_data.json', 'r') as file:
    sorted_data = json.load(file)

import json
import pandas as pd
from datetime import datetime, timedelta
import re

def extract_text_between_keys(data):
    result = []

    for date, lines in data.items():
        start_key = None
        collected_text = []

        for line_key, line_value in lines.items():
            line_value_lower = line_value.lower()  # Convert text to lowercase for case-insensitive comparison

            if "ask Your protection" in line_value_lower:
                start_key = line_key
            elif start_key and " " in line_value_lower:
                break
            elif start_key:
                collected_text.append(line_value)

        if start_key:
            result.append({"Date": date, "Illumination": " ".join(collected_text)})

    return result

def generate_sundays(start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        yield current_date
        current_date += timedelta(days=7)

# Assume sorted_data is already defined as a dictionary
# sorted_data = ...

# Extract text
result = extract_text_between_keys(sorted_data)

# Convert the result to a DataFrame
df = pd.DataFrame(result)

# Generate all Sundays between the specified dates
start_date = datetime(2022, 1, 23)
end_date = datetime(2023, 11, 19)
sundays = list(generate_sundays(start_date, end_date))

# Create a DataFrame with all Sundays and merge with the existing data
sundays_df = pd.DataFrame(sundays, columns=["Date"])
sundays_df["Date"] = sundays_df["Date"].dt.strftime('%Y-%m-%d')

# Ensure the Date column in the extracted DataFrame is of the same type
df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')

# Merge the DataFrames
merged_df = pd.merge(sundays_df, df, on="Date", how="left")

# Fill NaN values in the Illumination column with blank strings
merged_df["Illumination"].fillna("", inplace=True)


def trim_after_amen(df, column_name):
    # Define a case-insensitive regex pattern to find "Amen." and trim text after it
    pattern = re.compile(r'\bAmen', re.IGNORECASE)

    def trim_text(text):
        # Search for the pattern and return text up to "Amen."
        match = pattern.search(text)
        if match:
            return text[:match.end()].strip()
        return text.strip()

    # Apply the trim_text function to the specified column
    df[column_name] = df[column_name].apply(trim_text)

# Assuming merged_df is already defined and contains the relevant data
# merged_df = ...

# Trim values in the 'Illumination' column
trim_after_amen(merged_df, "Illumination")

# Optionally, save the updated DataFrame to a CSV file
# merged_df.to_csv('updated_illumination.csv', index=False)



# Save the DataFrame to a CSV file without the index
merged_df.to_csv('illumination.csv', index=False)

print("CSV file 'illumination.csv' has been created successfully.")

merged_df

KeyError: 'Date'

In [29]:
import pandas as pd
import json

# Function to get the line after the line containing "ask Your protection"
def get_em_line(lines_dict):
    # Convert the dictionary to a list of keys
    keys = list(lines_dict.keys())
    values = list(lines_dict.values())
    
    # Iterate over the values to find the line containing "ask Your protection"
    for i, value in enumerate(values):
        if "ask Your protection" in value.lower():
            # Check if the next line exists
            if i + 1 < len(values):
                return values[i + 1]  # Return the value of the next line
            else:
                return ""  # Return an empty string if no next line exists
    return ""  # Return an empty string if "ask Your protection" is not found

# Load your sorted_data.json
with open('sorted_data.json', 'r') as file:
    sorted_data = json.load(file)

# Extract EM values from the sorted_data
em_results = []
for date, lines in sorted_data.items():
    em_value = get_em_line(lines)
    em_results.append({"Date": date, "EM": em_value})

# Convert the results to a DataFrame
em_df = pd.DataFrame(em_results)

# Save the DataFrame to a CSV file without the index
em_df.to_csv('em_values.csv', index=False)

em_df

          Date EM
0   2022-01-16
1   2022-01-23
2   2022-01-30
3   2022-02-06
4   2022-02-13
..         ... ..
91  2023-10-22
92  2023-10-29
93  2023-11-05
94  2023-11-12
95  2023-11-19

[96 rows x 2 columns]

In [23]:
with open('sorted_data.json', 'r') as file:
    sorted_data = json.load(file)

import json
import pandas as pd
from datetime import datetime, timedelta
import re

def extract_text_between_keys(data):
    result = []

    for date, lines in data.items():
        start_key = None
        collected_text = []

        for line_key, line_value in lines.items():
            line_value_lower = line_value.lower()  # Convert text to lowercase for case-insensitive comparison

            if "world without end" in line_value_lower:
                start_key = line_key
            elif start_key and "seated" in line_value_lower:
                break
            elif start_key:
                collected_text.append(line_value)

        if start_key:
            result.append({"Date": date, "Illumination": " ".join(collected_text)})

    return result

def generate_sundays(start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        yield current_date
        current_date += timedelta(days=7)

# Assume sorted_data is already defined as a dictionary
# sorted_data = ...

# Extract text
result = extract_text_between_keys(sorted_data)

# Convert the result to a DataFrame
df = pd.DataFrame(result)

# Generate all Sundays between the specified dates
start_date = datetime(2022, 1, 23)
end_date = datetime(2023, 11, 19)
sundays = list(generate_sundays(start_date, end_date))

# Create a DataFrame with all Sundays and merge with the existing data
sundays_df = pd.DataFrame(sundays, columns=["Date"])
sundays_df["Date"] = sundays_df["Date"].dt.strftime('%Y-%m-%d')

# Ensure the Date column in the extracted DataFrame is of the same type
df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')

# Merge the DataFrames
merged_df = pd.merge(sundays_df, df, on="Date", how="left")

# Fill NaN values in the Illumination column with blank strings
merged_df["Illumination"].fillna("", inplace=True)


def trim_after_amen(df, column_name):
    # Define a case-insensitive regex pattern to find "Amen." and trim text after it
    pattern = re.compile(r'\bAmen', re.IGNORECASE)

    def trim_text(text):
        # Search for the pattern and return text up to "Amen."
        match = pattern.search(text)
        if match:
            return text[:match.end()].strip()
        return text.strip()

    # Apply the trim_text function to the specified column
    df[column_name] = df[column_name].apply(trim_text)

# Assuming merged_df is already defined and contains the relevant data
# merged_df = ...

# Trim values in the 'Illumination' column
trim_after_amen(merged_df, "Illumination")

# Extract the line after "ask Your protection"
def get_em_line(data):
    for line_key, line_value in data.items():
        if "ask Your protection" in line_value.lower():
            next_key = int(line_key.split()[-1]) + 1  # Assuming keys like "Line 278"
            next_line_key = f"Line {next_key}"
            return data.get(next_line_key, "")
    return ""

# Apply this extraction to create the EM column
merged_df["EM"] = merged_df["Date"].apply(lambda date: get_em_line(sorted_data.get(date, {})))

# Save the DataFrame to a CSV file without the index
merged_df.to_csv('illumination.csv', index=False)

merged_df

/var/folders/y9/vqnw70t13k397rbgtnhky1_r0000gp/T/ipykernel_14194/2242990687.py:62: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["Illumination"].fillna("", inplace=True)

          Date                                       Illumination EM
0   2022-01-23  Prayer for Illumination [Bucer] Almighty, grac...
1   2022-01-30  Prayer for Illumination Strasbourg 1545 Our He...
2   2022-02-06  Prayer for Illumination Heidelberg Heavenly Fa...
3   2022-02-13
4   2022-02-20  Prayer for Illumination Heavenly Father, Let Y...
..         ...                                                ... ..
91  2023-10-22               *PRAYER FOR ILLUMINATION          ..
92  2023-10-29  Prayer for Illumination Now lead us, Gracious ...
93  2023-11-05  *PRAYER FOR ILLUMINATION          .. Father, G...
94  2023-11-12  Let us Pray: Our Gracious Father in Heaven, gr...
95  2023-11-19  Prayer for Illumination                       ...

[96 rows x 3 columns]

In [ ]:
# Function to generate all Sundays within a range
def generate_sundays(start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        yield current_date
        current_date += timedelta(days=7)

def read_docx(file_path):
    doc = Document(file_path)
    content = {}

    for i, paragraph in enumerate(doc.paragraphs, start=1):
        # Skip empty paragraphs
        if paragraph.text.strip():
            content[f'Line {i}'] = paragraph.text.strip()

    return content

In [ ]:
# Specify the range of dates
start_date = datetime.strptime("2022-01-02", "%Y-%m-%d")
end_date = datetime.strptime("2023-11-19", "%Y-%m-%d")

# Get the list of existing files
existing_files = sorted(Path("Worship Books").rglob("*.docx"))

# Extract dates from the file names
existing_dates = [datetime.strptime(file.stem, "%Y-%m-%d") for file in existing_files]

# Check for missing dates
missing_dates = [date.strftime("%Y-%m-%d") for date in generate_sundays(start_date, end_date) if date not in existing_dates]

# Print the missing dates
if missing_dates:
    print("Missing Dates:")
    for date in missing_dates:
        print(date)
else:
    print("All dates are present.")

In [ ]:
jk = list(Path.cwd().rglob("*.docx"))

parsed_contents_dict = {}

for file_path in jk:
    parsed_contents = read_docx(file_path)

    # Only add to the dictionary if there is content
    if parsed_contents:
        parsed_contents_dict[file_path.stem] = parsed_contents

# Save to JSON file
json_file_path = "worshipbook.json"
with open(json_file_path, 'w') as json_file:
    json.dump(parsed_contents_dict, json_file, indent=2)

print(f"Data saved to {json_file_path}")

In [ ]:

test_dict = {}

for i in list(parsed_contents_dict.keys()):
    first_lesson = ''
    second_lesson = ''
    gospel_lesson = ''
    benediction = ''
    entrance_psalm = ''
    adoration_prayer = ''
    absolution = ''
    opening_call = ''

    input_list = list(parsed_contents_dict[i].values())
    
    # Remove special characters and extra whitespaces
    input_list = [re.sub(r'\s+', ' ', item.replace('\xa0', ' ').replace('\t', ' ').strip()) for item in input_list]

    # Extracting items between "Adoration and L" and "Nikolai Kedrov" for Prayer of Adoration
    start_index = None
    end_index = None

    for idx, item in enumerate(input_list):
        if "Adoration and L" in item:
            start_index = idx + 1  # Start from the next item
        elif "Nikolai Kedrov" in item:
            end_index = idx
            break  # Stop searching once you find the end
        
    if start_index is not None and end_index is not None:
        result_list = input_list[start_index:end_index]
        result_list = ' '.join(result_list)
        result_list = result_list.rsplit("Now hear us as we sing the prayer our", 1)[0].strip()
        adoration_prayer = result_list.replace("  ", " ")
    else:
        adoration_prayer = ''

    # Extracting items between "good news" and "Lift up your hearts" for Absolution
    start_index = None
    end_index = None

    for idx, item in enumerate(input_list):
        if "good news" in item:
            start_index = idx + 1  # Start from the next item
        elif "Lift up your hearts" in item:
            end_index = idx
            break  # Stop searching once you find the end
        
    if start_index is not None and end_index is not None:
        result_list = input_list[start_index:end_index]
        result_list = ' '.join(result_list)
        result_list = result_list.rsplit("Now hear us as we sing the prayer our", 1)[0].strip()
        absolution = result_list.replace("  ", " ")
    else:
        absolution = ''

    # Extracting "Entrance Psalm"
    for j, k in enumerate(input_list):
        cleaned_value = ' '.join(k.replace('\t', ' ').split())

        if "Entrance Psalm" in k:
            entrance_psalm = cleaned_value.split("Entrance ", 1)[-1].strip()

    # Extracting other lessons and benediction
    for j, k in enumerate(input_list):
        cleaned_value = ' '.join(k.replace('\t', ' ').split())

        if "Second Lesson" in k:
            second_lesson = cleaned_value.split("Second Lesson", 1)[-1].strip()
        elif "First Lesson" in k:
            first_lesson = cleaned_value.split("First Lesson", 1)[-1].strip()
        elif "Gospel Lesson" in k:
            gospel_lesson = cleaned_value.split("Gospel Lesson", 1)[-1].strip()
        elif "THE BENEDICTION" in k:
            benediction = cleaned_value.split("THE BENEDICTION", 1)[-1].strip().replace("â€¦", "").replace(".", "")
        elif "Psalm" in k and opening_call == '' and j != 0:
            opening_call = ' '.join(input_list[1:j]).strip()

    # Add a dictionary for the date i with "First Lesson", "Second Lesson", and "Gospel Lesson" keys
    test_dict[i] = {
        "Entrance Psalm": entrance_psalm,
        "First Lesson": first_lesson, 
        "Second Lesson": second_lesson, 
        "Gospel Lesson": gospel_lesson,
        "Benediction": benediction,
        "Prayer of Adoration": adoration_prayer,
        "Absolution": absolution,
        "Opening Call": opening_call
    }


test_dict['2022-05-01']['Absolution'] = "We extol You, Lord, for lifting us up above the rejoicing of our enemies â€“ for bringing us healing by the wounds of our Lord Jesus â€“ and bringing up our souls from the grave by His rising again to new life â€“ the precious guarantee to us that our weeping in the night will give way to joy in the morning. Gracious God, we will give thanks to You forever."

#test_dict['2023-08-20']['Absolution'] = 
#test_dict['2023-06-04']['Absolution'] = 
#test_dict['2023-04-23']['Absolution'] = 
#test_dict['2022-08-28']['Absolution'] = 
#test_dict['2022-06-12']['Absolution'] = 

test_dict

In [ ]:
# Find keys where Absolution is blank
keys_with_blank_absolution = [key for key, value in test_dict.items() if value.get('Absolution') == '']

print(keys_with_blank_absolution)

In [ ]:
import pandas as pd

# Assuming test_dict is your dictionary
data = []

for date, lessons in test_dict.items():
    row = {'Date': date}
    row.update(lessons)
    data.append(row)

df = pd.DataFrame(data)
df = df.sort_values(by='Date', ascending=False)
df = df.reset_index(drop=True)
df

In [ ]:
df.to_csv("worshipbook.csv")

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

# Create a boolean DataFrame where True represents a blank cell
blank_matrix = df.applymap(lambda x: x == '')

# Plotting the heatmap
plt.figure(figsize=(10, 6))
plt.imshow(blank_matrix, cmap='viridis', aspect='auto')

# Customize the plot
plt.xticks(range(len(df.columns)), df.columns)
plt.yticks(range(len(df)), df['Date'].dt.strftime('%Y-%m-%d'))
plt.xlabel('Columns')
plt.ylabel('Rows')
plt.title('Blank Values Heatmap')

plt.show()

In [ ]:
missing_matrix = df.applymap(lambda x: x == '')

# Calculate percentage of missing values for each column
percentage_missing = (missing_matrix.sum() / len(missing_matrix)) * 100

percentage_missing = percentage_missing.to_frame().reset_index()
percentage_missing.columns = ['Features', 'Percent Missing']

percentage_missing

In [ ]:
songs = pd.read_excel(, header=)

In [ ]:
custom_headers = {
    'Column1': 'Date',
    'Column2': 'Type',
    'Column3': 'Title',
    'Column4': 'Time',

    # Add more column mappings as needed
}

# Read the Excel file with custom headers
songs = pd.read_excel("Song_List.xlsx", names=custom_headers.values())

# Assuming df is your DataFrame
# Create a new row as a dictionary
new_row = {
    'Date': '2021-01-03',
    'Type': 'Entrance Hymn',
    'Title': 'Unto Me the Word Remember',
    'Time': 'Christmas'
}

			

# Convert the dictionary to a DataFrame
new_row_df = pd.DataFrame([new_row])

# Concatenate the new row DataFrame with the original DataFrame, placing the new row at the top
songs = pd.concat([new_row_df, songs]).reset_index(drop=True)

songs['Date'] = pd.to_datetime(songs['Date']).dt.strftime('%Y-%m-%d')


# Display the DataFrame with the new row at the top
songs.head(12)

In [ ]:
time_of_year = songs[['Date', 'Time']]
time_of_year['Date'] = pd.to_datetime(time_of_year['Date'])
# Assuming time_of_year is your DataFrame containing 'Date' and 'Time' columns
# Drop duplicate rows
time_of_year = time_of_year.drop_duplicates()
time_of_year = time_of_year.reset_index(drop=True)

# Display the DataFrame
time_of_year

In [ ]:
songs.Type.value_counts()

In [ ]:
# Pivot the DataFrame
df_pivot = songs.pivot_table(index='Date', columns='Type', values='Title', aggfunc=lambda x: ' '.join(x))

# Reset index to make 'Date' a column again
df_pivot.reset_index(inplace=True)

# Remove the index name
df_pivot.index.name = None

# Reset the name of the columns index to None
df_pivot.columns.name = None

# Reorder the columns as specified
df_pivot = df_pivot[['Date', 'Entrance Hymn', 'Epistle Hymn', 'Offertory', 'Bread', 'Cup', 'Hymn of Response']]

df_pivot['Date'] = pd.to_datetime(df_pivot['Date'])

# Display the transformed DataFrame
df_pivot

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df is your DataFrame
# Create a boolean DataFrame indicating NaN values
nan_map = df_pivot.isna()

# Visualize the NaN map
plt.figure(figsize=(10, 6))
sns.heatmap(nan_map, cmap='viridis', cbar=False)
plt.title('NaN Map in DataFrame')
plt.xlabel('Columns')
plt.ylabel('Rows')
plt.show()

In [ ]:
# Assuming df_pivot is your pivot DataFrame and you have another DataFrame named 'other_df' to merge with
# Merge the DataFrames on the 'Date' column
merged_df = pd.merge(df_pivot, df, on='Date', how='inner')
merged_df = pd.merge(merged_df, time_of_year, on='Date', how='inner')

# Display the merged DataFrame
merged_df

In [ ]:
merged_df.columns

In [ ]:
import numpy as np

# Add blank columns to the merged DataFrame
merged_df['Entrance Call to Worship Prelude'] = np.nan
merged_df['Entrance Call to Worship'] = np.nan
merged_df['Confession of Sins Prelude'] = np.nan
merged_df['Confession of Sins'] = np.nan
merged_df['Assurance of Forgiveness Prelude'] = np.nan
merged_df['Absolution'] = np.nan
merged_df['Prayer for Illumination'] = np.nan
merged_df['Presentation of Tithes and Offerings Passage Prelude'] = np.nan
merged_df['Presentation of Tithes and Offerings'] = np.nan
merged_df['Prayer for the Church and the World Prelude'] = np.nan
merged_df['Prayer for the Church and the World Local Church'] = np.nan
merged_df['Prayer for the Church and the World MOW'] = np.nan
merged_df['Prayer for the Church and the World Persecuted Saints'] = np.nan
merged_df['Prayer for the Church and the World Suffering Saints'] = np.nan
merged_df['Prayer for the Church and the World Expecting Mothers'] = np.nan
merged_df['Prayer for the Church and the World Culture and Nation'] = np.nan
merged_df['Prayer for the Church and the World Epilogue'] = np.nan
merged_df['Prayer Giving Thanks for the Bread'] = np.nan
merged_df['Prayer Giving Thanks for the Cup'] = np.nan
merged_df['The Great Commission'] = np.nan
# Add more blank columns as needed

service_order = [
    "Date",
    'Time',
    'Entrance Call to Worship Prelude',
    'Entrance Call to Worship',
    'Entrance Hymn',
    'Entrance Psalm',
    'Prayer of Adoration',
    'Confession of Sins Prelude',
    'Confession of Sins',
    'Assurance of Forgiveness Prelude',
    'Absolution',
    'First Lesson',
    'Second Lesson',
    'Epistle Hymn',
    'Gospel Lesson',
    'Prayer for Illumination',
    'Offertory',
    'Presentation of Tithes and Offerings Passage Prelude',
    'Presentation of Tithes and Offerings',
    'Prayer for the Church and the World Prelude',
    'Prayer for the Church and the World Local Church',
    'Prayer for the Church and the World MOW',
    'Prayer for the Church and the World Persecuted Saints',
    'Prayer for the Church and the World Suffering Saints',
    'Prayer for the Church and the World Expecting Mothers',
    'Prayer for the Church and the World Culture and Nation',
    'Prayer for the Church and the World Epilogue',
    'Prayer Giving Thanks for the Bread',
    'Bread',
    'Prayer Giving Thanks for the Cup',
    'Cup',
    'The Great Commission',
    'Benediction',
    'Hymn of Response'
]

# Reorder the columns
merged_df = merged_df[service_order]

# Display the DataFrame with added blank columns and reordered columns
merged_df

In [ ]:


# Replace empty strings with NaN values
merged_df.replace('', np.nan, inplace=True)

# Create NaN map
nan_map = merged_df.isna()

# Visualize the NaN map
plt.figure(figsize=(10, 6))
sns.heatmap(nan_map, cmap='viridis', cbar=False)
plt.title('NaN Map in DataFrame')
plt.xlabel('Columns')
plt.ylabel('Rows')
plt.show()

In [ ]:
# Assuming merged_df is your DataFrame containing 'Date' and 'Time' columns

# Initialize variables
current_value = merged_df['Time'].iloc[0]
count = 1

# Iterate over the 'Time' column
for i in range(1, len(merged_df)):
    if merged_df['Time'].iloc[i] == current_value:
        count += 1
        merged_df.at[i, 'Time'] = f"{count}{'th' if count > 3 else ['st', 'nd', 'rd'][count - 1]} Sunday in {current_value}"
    else:
        current_value = merged_df['Time'].iloc[i]
        count = 1

# Display the updated DataFrame

In [ ]:
merged_df

In [ ]:
merged_df.to_csv("best_book_yet.csv")

In [ ]:
import json

# Read the JSON file
with open('worshipbook.json', 'r') as file:
    data = json.load(file)

# Sort the JSON data by key in ascending order
sorted_data = dict(sorted(data.items()))

# Display the sorted data
print(sorted_data)

In [ ]:
sorted_data

In [ ]:
import json

# Assuming sorted_data is your sorted dictionary
# Define the file path to save the JSON file
file_path = 'sorted_data.json'

# Save the sorted dictionary to a JSON file
with open(file_path, 'w') as file:
    json.dump(sorted_data, file, indent=4)

print(f"Sorted data has been saved to '{file_path}'.")

In [ ]:
import json
import pandas as pd

# Open the JSON file and load it as song_dict
with open('sorted_data.json', 'r') as file:
    song_dict = json.load(file)

# Initialize an empty list to store the filtered data
filtered_data = []

# Iterate over the items in song_dict
for date, values in song_dict.items():
    for line, value in values.items():
        if "GREAT COMMISSION" in value:
            filtered_data.append({'Date': date, 'Value': value})
            break  # Stop searching for "GREAT COMMISSION" in this date entry once found

# Convert the filtered data list into a pandas DataFrame
df = pd.DataFrame(filtered_data)

# Display the DataFrame
df

In [ ]:
# Extract Bible references using regular expressions
df['Bible_Reference'] = df['Value'].str.extract(r'\b([A-Z][a-z]+(?:\s+[A-Z][a-z]+)?\s+\d+:\d+(?:-\d+)?)(?!\S)')

# Display the DataFrame with cleaned-up values
df

In [ ]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Find the first and last Sundays in the 'Date' column
first_sunday = df['Date'].min() - pd.Timedelta(days=df['Date'].min().weekday())  # Go back to the previous Sunday
last_sunday = df['Date'].max() + pd.Timedelta(days=6 - df['Date'].max().weekday())  # Go forward to the next Sunday

# Generate a range of all Sundays between the first and last Sundays
all_sundays = pd.date_range(start=first_sunday, end=last_sunday, freq='W-SUN')

# Create a DataFrame with the Sundays in the range
sundays_df = pd.DataFrame({'Date': all_sundays})

# Merge the original DataFrame with the Sundays DataFrame to fill in missing Sundays
merged_df = pd.merge(sundays_df, df, on='Date', how='left')

# Display the merged DataFrame
merged_df

In [ ]:
merged_df.to_csv("commissions.csv")

In [ ]:
import pandas as pd
import json

# Open the JSON file and load its contents into a nested dictionary
with open('sorted_data.json', 'r') as file:
    nested_dict = json.load(file)

# Initialize lists to store the extracted data
dates = []
values = []

# Iterate over the items in nested_dict
for date, values_dict in nested_dict.items():
    # Check if "Presentation of Tithes and Offering" is in the values
    if "Presentation of Tithes and Offering" in values_dict.values():
        # Find the next value after "Presentation of Tithes and Offering"
        next_value = None
        for key, value in values_dict.items():
            if next_value is not None:
                break
            if value == "Presentation of Tithes and Offering":
                next_value = values_dict.get(list(values_dict)[list(values_dict).index(key) + 1], None)
        
        # Append the date and value to the lists
        dates.append(date)
        values.append(next_value)

# Create a DataFrame
offertory_df = pd.DataFrame({'Date': dates, 'Value': values})
offertory_df['Date'] = pd.to_datetime(offertory_df['Date'])

# Display the DataFrame
offertory_df

# Create a DataFrame with all Sundays between '2022-01-02' and '2023-11-19'
all_sundays = pd.date_range(start='2022-01-02', end='2023-11-19', freq='W-SUN')
sundays_df = pd.DataFrame({'Date': all_sundays})

# Merge the existing data with the DataFrame containing all Sundays
merged_df = pd.merge(sundays_df, offertory_df, on='Date', how='left')

# Display the merged DataFrame
merged_df

import pandas as pd
import re

# Assuming merged_df is your DataFrame containing the data

# Define a function to extract Bible references from the "Value" column
def extract_bible_reference(value):
    if isinstance(value, str):
        # Regular expression pattern to match Bible references
        pattern = r'([A-Z][A-Z]+(?:\s+\d+:\d+(?:-\d+)?)?)'
        # Search for matches in the value
        matches = re.findall(pattern, value)
        # Join the matches into a single string, if any
        return ', '.join(matches) if matches else None
    else:
        return None

# Apply the function to extract Bible references and create the "Reference" column
merged_df['Reference'] = merged_df['Value'].apply(extract_bible_reference)

# Display the DataFrame with the extracted references
merged_df

In [ ]:
import pandas as pd
import json

# Open the JSON file and load its contents into a nested dictionary
with open('sorted_data.json', 'r') as file:
    nested_dict = json.load(file)

# Initialize lists to store the extracted data
dates = []
values = []

# Iterate over the items in nested_dict
for date, values_dict in nested_dict.items():
    # Check if "Presentation of Tithes and Offering" is in the values
    if "Nicene Creed" in values_dict.values():
        # Find the next value after "Presentation of Tithes and Offering"
        next_value = None
        for key, value in values_dict.items():
            if next_value is not None:
                break
            if value == "Nicene Creed":
                next_value = values_dict.get(list(values_dict)[list(values_dict).index(key) - 1], None)
        
        # Append the date and value to the lists
        dates.append(date)
        values.append(next_value)

# Create a DataFrame
offertory_df = pd.DataFrame({'Date': dates, 'Value': values})
offertory_df['Date'] = pd.to_datetime(offertory_df['Date'])

# Display the DataFrame
offertory_df

# Create a DataFrame with all Sundays between '2022-01-02' and '2023-11-19'
all_sundays = pd.date_range(start='2022-01-02', end='2023-11-19', freq='W-SUN')
sundays_df = pd.DataFrame({'Date': all_sundays})

# Merge the existing data with the DataFrame containing all Sundays
merged_df = pd.merge(sundays_df, offertory_df, on='Date', how='left')



# Display the DataFrame with the extracted references
merged_df

In [ ]:
merged_df.to_csv("prayer_world_epilogue.csv")

In [ ]:
import json
import pandas as pd

# Load the nested dictionary from the JSON file
with open('sorted_data.json', 'r') as file:
    nested_dict = json.load(file)

# Function to find the closest value containing "For You are gracious"
def find_closest_gracious_value(values_dict):
    try:
        nicene_creed_index = list(values_dict.values()).index("Nicene Creed")
    except ValueError:
        return None
    
    for key, value in list(values_dict.items())[nicene_creed_index:]:
        if "For You are gracious" in value:
            return value

# Initialize lists to store the extracted data
dates = []
combined_values = []

# Iterate over the items in the nested dictionary
for date, values_dict in nested_dict.items():
    # Find the closest value containing "For You are gracious"
    closest_gracious_value = find_closest_gracious_value(values_dict)
    
    # If a closest value is found, extract values between "Nicene Creed" and the closest gracious value
    if closest_gracious_value:
        nicene_creed_index = list(values_dict.values()).index("Nicene Creed")
        closest_gracious_index = list(values_dict.values()).index(closest_gracious_value)
        combined_values.append(" ".join(list(values_dict.values())[nicene_creed_index + 1:closest_gracious_index]))
    else:
        combined_values.append(None)
    
    dates.append(date)

# Create a DataFrame
combined_values_df = pd.DataFrame({'Date': dates, 'Combined_Values': combined_values})
combined_values_df['Date'] = pd.to_datetime(combined_values_df['Date'])

# Display the DataFrame
print(combined_values_df)

In [ ]:
import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('New Worship Book Responses.csv')

# Convert DataFrame to JSON
json_data = df.to_json(orient='records')

# Print or save the JSON data
print(json_data)

# If you want to save the JSON data to a file
with open('Responses-test.json', 'w') as f:
    f.write(json_data)

In [ ]:
import json



# Load JSON data
data = json.loads(json_data)

# Create HTML table string
html_table = '<table border="1">'
html_table += '<tr>'
for key in data[0].keys():
    html_table += '<th>{}</th>'.format(key)
html_table += '</tr>'
for row in data:
    html_table += '<tr>'
    for value in row.values():
        html_table += '<td height="50">{}</td>'.format(value)
    html_table += '</tr>'
html_table += '</table>'

# Display or save the HTML table
print(html_table)

In [ ]:
# If you want to save the HTML table to a file
with open('table.html', 'w') as f:
    f.write(html_table)